{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<p>This is the login page</p>
<form action="#" method = "POST">
    <p>Enter your name.</p>
    <input type="text" name = "username" placeholder="Username">
    <p>Enter your email.</p>
    <input type="email" name = "email" placeholder="Email">
    <button type = "submit">Submit</button>
</form>
{% endblock %}