{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2>Send a Message Below</h2>

<form action="#" method="POST">
    <div class="form-group">
        <label for="recipient">Username of Recipient</label>
        <input type="text" class="form-control" name="recipient" id="recipient" placeholder="Recipient">
    </div>

    <div class="form-group">
        <label for="messageContent">Message Content</label>
        <textarea class="form-control" name="messageContent" id="messageContent" rows="3" placeholder="Content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}