{% extends "base.html" %}

{% block content %}

<h2>Hey {{ username }}! Welcome to your profile page.</h2>

<form action="#" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ username }}">
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ email }}">
    </div>

    <div>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="password" value = minlength="6" required>
    </div>
</form>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Message Content</th>
    </tr>
  </thead>
  <tbody>
  {% for message in messageList %}
    <tr>
      <td>{{ message.sendingUser }}</td>
      <td>{{ message.messageContent }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
